#root > div.App > div > section:nth-child(2) > div > div > div > div > div {
  margin: 10px 20px;
}

#root > div.App > div > section:nth-child(3) > div > div > div > div > button {
  padding: 1.1em;
  color: white;
}

#root
  > div.App
  > div
  > section:nth-child(3)
  > div
  > div
  > div
  > div
  > button.active {
  transform: scale(1.2);
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  background-color: #272727;
  box-shadow: -2px 4px 16px 0px rgba(0, 0, 0, 0.75);
}

#root
  > div.App
  > div
  > section:nth-child(3)
  > div
  > div
  > div
  > div
  > button.un-active {
  filter: grayscale(100%);
}
