.row {
  display: "flex";
  justify-content: "space-around";
}

.col-5 > .row > .col-6 {
  padding: 10px 0px;
  /* padding-bottom: 10px; */
}
.col-5 > .row > .col-6 > img {
  width: 90%;
  border-radius: 20px;
}

div.col-5::-webkit-scrollbar-track {
  background: #272727;
  opacity: 0.3;
}

/* Handle */
div.col-5::-webkit-scrollbar-thumb {
  background: #272727;
}
