table {
  margin-top: 30px;
}

.closed {
  background-color: #b91010;
  box-shadow: inset 4px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.open {
  box-shadow: inset 4px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

tr {
  background-color: #b29051;
}

table th {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
